@model IEnumerable<Game>

<style>
    body {
        background-color: black;
        color: white;
    }

    a {
        color: #FFA500; /* Orange link color */
    }

    table {
        border: 2px solid orange; /* Orange border for the entire table */
        border-collapse: collapse; /* Collapse borders to prevent double borders */
        width: 100%;
    }

    th, td {
        border: 1px solid orange; /* Orange border for table cells */
        padding: 8px;
        text-align: left;
        color: white; /* White text color for table cells */
    }
</style>

<!-- Your existing table content -->


<h2>Game Reviews</h2>
<table class="table">

    <div style="display: block">
        <a href="/Game/AddGame/">Add Game</a>
    </div>

    <tr>
        <th>GameId</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Date</th>
        <th>Watched</th>
        <th>Rating</th>
        <th>Your Review</th>
    </tr>

    @foreach (var game in @Model)
    {
        <tr>
            <td><a href =/Game/ViewGame/@game.GameId>@game.GameId</a></td>
            <td>@game.HomeTeam</td>
            <td>@game.AwayTeam</td>
            <td>@game.Date.ToShortDateString()</td>
            <td>@(game.IsWatched ? "Yes" : "No")</td>
            <td>@game.Rating</td>
            <td>@game.Comment</td>
        </tr>
    }

</table>
